In [1]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import matplotlib.pyplot as plt

In [26]:
### 1st Question

In [32]:
df1 = pdr.get_data_yahoo('GOOGL', start='2020-10-01',end='2020-10-30')
df1

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-10-01,1495.069946,1476.800049,1483.660034,1487.900024,1644200,1487.900024
2020-10-02,1479.030029,1447.349976,1459.630005,1455.599976,1561100,1455.599976
2020-10-05,1484.699951,1460.089966,1462.650024,1482.829956,1080100,1482.829956
2020-10-06,1484.520020,1445.010010,1475.500000,1451.020020,1304800,1451.020020
2020-10-07,1468.969971,1433.229980,1459.310059,1459.140015,1805400,1459.140015
2020-10-08,1488.030029,1465.449951,1465.449951,1483.430054,1303800,1483.430054
2020-10-09,1511.849976,1487.000000,1492.859985,1510.449951,1648300,1510.449951
2020-10-12,1588.420044,1529.300049,1538.000000,1564.589966,2767200,1564.589966
2020-10-13,1585.160034,1558.630005,1577.010010,1567.069946,1953600,1567.069946
2020-10-14,1583.849976,1545.900024,1574.599976,1563.439941,1658700,1563.439941
2020-10-15,1571.400024,1541.130005,1544.500000,1555.469971,1560500,1555.469971
2020-10-16,1577.709961,1557.660034,1561.829956,1567.699951,1709700,1567.699951
2020-10-19,1583.930054,1522.920044,1575.930054,1529.949951,1486700,1529.949951
2020-10-20,1573.839966,1520.500000,1523.109985,1551.079956,2083500,1551.079956
2020-10-21,1615.140015,1567.140015,1569.849976,1585.989990,3016100,1585.989990
2020-10-22,1613.420044,1577.479980,1585.000000,1606.660034,1525600,1606.660034
2020-10-23,1634.119995,1611.910034,1615.050049,1632.979980,1527400,1632.979980
2020-10-26,1629.579956,1567.780029,1615.000000,1584.290039,1791300,1584.290039
2020-10-27,1602.000000,1576.989990,1588.930054,1598.880005,1295100,1598.880005
2020-10-28,1553.810059,1508.479980,1550.010010,1510.800049,2258700,1510.800049
2020-10-29,1588.739990,1516.550049,1517.020020,1556.880005,2770300,1556.880005
2020-10-30,1681.319946,1601.569946,1667.439941,1616.109985,4993900,1616.109985

In [3]:
df1['Simple return']=df1['Adj Close'].pct_change()
df1

,High,Low,Open,Close,Volume,Adj Close,Simple return
Date,,,,,,,
2020-10-01,1495.069946,1476.800049,1483.660034,1487.900024,1644200,1487.900024,NaN
2020-10-02,1479.030029,1447.349976,1459.630005,1455.599976,1561100,1455.599976,-0.021708
2020-10-05,1484.699951,1460.089966,1462.650024,1482.829956,1080100,1482.829956,0.018707
2020-10-06,1484.520020,1445.010010,1475.500000,1451.020020,1304800,1451.020020,-0.021452
2020-10-07,1468.969971,1433.229980,1459.310059,1459.140015,1805400,1459.140015,0.005596
2020-10-08,1488.030029,1465.449951,1465.449951,1483.430054,1303800,1483.430054,0.016647
2020-10-09,1511.849976,1487.000000,1492.859985,1510.449951,1648300,1510.449951,0.018214
2020-10-12,1588.420044,1529.300049,1538.000000,1564.589966,2767200,1564.589966,0.035844
2020-10-13,1585.160034,1558.630005,1577.010010,1567.069946,1953600,1567.069946,0.001585
2020-10-14,1583.849976,1545.900024,1574.599976,1563.439941,1658700,1563.439941,-0.002316
2020-10-15,1571.400024,1541.130005,1544.500000,1555.469971,1560500,1555.469971,-0.005098
2020-10-16,1577.709961,1557.660034,1561.829956,1567.699951,1709700,1567.699951,0.007863
2020-10-19,1583.930054,1522.920044,1575.930054,1529.949951,1486700,1529.949951,-0.024080
2020-10-20,1573.839966,1520.500000,1523.109985,1551.079956,2083500,1551.079956,0.013811
2020-10-21,1615.140015,1567.140015,1569.849976,1585.989990,3016100,1585.989990,0.022507
2020-10-22,1613.420044,1577.479980,1585.000000,1606.660034,1525600,1606.660034,0.013033
2020-10-23,1634.119995,1611.910034,1615.050049,1632.979980,1527400,1632.979980,0.016382
2020-10-26,1629.579956,1567.780029,1615.000000,1584.290039,1791300,1584.290039,-0.029817
2020-10-27,1602.000000,1576.989990,1588.930054,1598.880005,1295100,1598.880005,0.009209
2020-10-28,1553.810059,1508.479980,1550.010010,1510.800049,2258700,1510.800049,-0.055089
2020-10-29,1588.739990,1516.550049,1517.020020,1556.880005,2770300,1556.880005,0.030500
2020-10-30,1681.319946,1601.569946,1667.439941,1616.109985,4993900,1616.109985,0.038044

In [4]:
df1['Cum return'] = df1['Simple return'].add(1).cumprod().sub(1)
df1

,High,Low,Open,Close,Volume,Adj Close,Simple return,Cum return
Date,,,,,,,,
2020-10-01,1495.069946,1476.800049,1483.660034,1487.900024,1644200,1487.900024,NaN,NaN
2020-10-02,1479.030029,1447.349976,1459.630005,1455.599976,1561100,1455.599976,-0.021708,-0.021708
2020-10-05,1484.699951,1460.089966,1462.650024,1482.829956,1080100,1482.829956,0.018707,-0.003408
2020-10-06,1484.520020,1445.010010,1475.500000,1451.020020,1304800,1451.020020,-0.021452,-0.024787
2020-10-07,1468.969971,1433.229980,1459.310059,1459.140015,1805400,1459.140015,0.005596,-0.019329
2020-10-08,1488.030029,1465.449951,1465.449951,1483.430054,1303800,1483.430054,0.016647,-0.003004
2020-10-09,1511.849976,1487.000000,1492.859985,1510.449951,1648300,1510.449951,0.018214,0.015156
2020-10-12,1588.420044,1529.300049,1538.000000,1564.589966,2767200,1564.589966,0.035844,0.051542
2020-10-13,1585.160034,1558.630005,1577.010010,1567.069946,1953600,1567.069946,0.001585,0.053209
2020-10-14,1583.849976,1545.900024,1574.599976,1563.439941,1658700,1563.439941,-0.002316,0.050769
2020-10-15,1571.400024,1541.130005,1544.500000,1555.469971,1560500,1555.469971,-0.005098,0.045413
2020-10-16,1577.709961,1557.660034,1561.829956,1567.699951,1709700,1567.699951,0.007863,0.053633
2020-10-19,1583.930054,1522.920044,1575.930054,1529.949951,1486700,1529.949951,-0.024080,0.028261
2020-10-20,1573.839966,1520.500000,1523.109985,1551.079956,2083500,1551.079956,0.013811,0.042462
2020-10-21,1615.140015,1567.140015,1569.849976,1585.989990,3016100,1585.989990,0.022507,0.065925
2020-10-22,1613.420044,1577.479980,1585.000000,1606.660034,1525600,1606.660034,0.013033,0.079817
2020-10-23,1634.119995,1611.910034,1615.050049,1632.979980,1527400,1632.979980,0.016382,0.097507
2020-10-26,1629.579956,1567.780029,1615.000000,1584.290039,1791300,1584.290039,-0.029817,0.064783
2020-10-27,1602.000000,1576.989990,1588.930054,1598.880005,1295100,1598.880005,0.009209,0.074588
2020-10-28,1553.810059,1508.479980,1550.010010,1510.800049,2258700,1510.800049,-0.055089,0.015391
2020-10-29,1588.739990,1516.550049,1517.020020,1556.880005,2770300,1556.880005,0.030500,0.046361
2020-10-30,1681.319946,1601.569946,1667.439941,1616.109985,4993900,1616.109985,0.038044,0.086168

In [5]:
df1['Log return'] = np.log(df1['Adj Close'] / df1['Adj Close'].shift(1))
df1

,High,Low,Open,Close,Volume,Adj Close,Simple return,Cum return,Log return
Date,,,,,,,,,
2020-10-01,1495.069946,1476.800049,1483.660034,1487.900024,1644200,1487.900024,NaN,NaN,NaN
2020-10-02,1479.030029,1447.349976,1459.630005,1455.599976,1561100,1455.599976,-0.021708,-0.021708,-0.021948
2020-10-05,1484.699951,1460.089966,1462.650024,1482.829956,1080100,1482.829956,0.018707,-0.003408,0.018534
2020-10-06,1484.520020,1445.010010,1475.500000,1451.020020,1304800,1451.020020,-0.021452,-0.024787,-0.021686
2020-10-07,1468.969971,1433.229980,1459.310059,1459.140015,1805400,1459.140015,0.005596,-0.019329,0.005580
2020-10-08,1488.030029,1465.449951,1465.449951,1483.430054,1303800,1483.430054,0.016647,-0.003004,0.016510
2020-10-09,1511.849976,1487.000000,1492.859985,1510.449951,1648300,1510.449951,0.018214,0.015156,0.018051
2020-10-12,1588.420044,1529.300049,1538.000000,1564.589966,2767200,1564.589966,0.035844,0.051542,0.035216
2020-10-13,1585.160034,1558.630005,1577.010010,1567.069946,1953600,1567.069946,0.001585,0.053209,0.001584
2020-10-14,1583.849976,1545.900024,1574.599976,1563.439941,1658700,1563.439941,-0.002316,0.050769,-0.002319
2020-10-15,1571.400024,1541.130005,1544.500000,1555.469971,1560500,1555.469971,-0.005098,0.045413,-0.005111
2020-10-16,1577.709961,1557.660034,1561.829956,1567.699951,1709700,1567.699951,0.007863,0.053633,0.007832
2020-10-19,1583.930054,1522.920044,1575.930054,1529.949951,1486700,1529.949951,-0.024080,0.028261,-0.024375
2020-10-20,1573.839966,1520.500000,1523.109985,1551.079956,2083500,1551.079956,0.013811,0.042462,0.013716
2020-10-21,1615.140015,1567.140015,1569.849976,1585.989990,3016100,1585.989990,0.022507,0.065925,0.022257
2020-10-22,1613.420044,1577.479980,1585.000000,1606.660034,1525600,1606.660034,0.013033,0.079817,0.012949
2020-10-23,1634.119995,1611.910034,1615.050049,1632.979980,1527400,1632.979980,0.016382,0.097507,0.016249
2020-10-26,1629.579956,1567.780029,1615.000000,1584.290039,1791300,1584.290039,-0.029817,0.064783,-0.030270
2020-10-27,1602.000000,1576.989990,1588.930054,1598.880005,1295100,1598.880005,0.009209,0.074588,0.009167
2020-10-28,1553.810059,1508.479980,1550.010010,1510.800049,2258700,1510.800049,-0.055089,0.015391,-0.056664
2020-10-29,1588.739990,1516.550049,1517.020020,1556.880005,2770300,1556.880005,0.030500,0.046361,0.030044
2020-10-30,1681.319946,1601.569946,1667.439941,1616.109985,4993900,1616.109985,0.038044,0.086168,0.037338

In [28]:
### 2nd Question

In [6]:
df1['Simple return'].mean()

0.004208661630296815

In [7]:
df1['Simple return'].mean()*250

1.0521654075742037

In [8]:
df1['Simple return'].std()

0.02348580044118532

In [9]:
df1['Simple return'].std()*250**0.5

0.371343110331665

In [10]:
df1['Simple return'].var()

0.0005515828223631805

In [11]:
df1['Simple return'].var()*250

0.13789570559079511

In [27]:
### 3rd Question

In [12]:
l1 = ['GOOGL', 'WMT', 'AMZN']

In [13]:
df2 = pdr.get_data_yahoo(l1, start='2020-10-01',end='2020-10-30')['Adj Close']

In [14]:
df2

Symbols           GOOGL         WMT         AMZN
Date
2020-10-01  1487.900024  139.786682  3221.260010
2020-10-02  1455.599976  137.266083  3125.000000
2020-10-05  1482.829956  138.536148  3199.199951
2020-10-06  1451.020020  137.393097  3099.959961
2020-10-07  1459.140015  137.647095  3195.689941
2020-10-08  1483.430054  138.106293  3190.550049
2020-10-09  1510.449951  139.493607  3286.649902
2020-10-12  1564.589966  140.929764  3442.929932
2020-10-13  1567.069946  142.864182  3443.629883
2020-10-14  1563.439941  140.626892  3363.709961
2020-10-15  1555.469971  141.203339  3338.649902
2020-10-16  1567.699951  141.379181  3272.709961
2020-10-19  1529.949951  139.659683  3207.209961
2020-10-20  1551.079956  140.587814  3217.010010
2020-10-21  1585.989990  141.076294  3184.939941
2020-10-22  1606.660034  140.245865  3176.399902
2020-10-23  1632.979980  140.538971  3204.399902
2020-10-26  1584.290039  138.887878  3207.040039
2020-10-27  1598.880005  139.581543  3286.330078
2020-10-28  1510.800049  136.816666  3162.780029
2020-10-29  1556.880005  136.699417  3211.010010
2020-10-30  1616.109985  135.556351  3036.149902

In [15]:
df3 = np.log(df2 / df2.shift(1))
df3

Symbols        GOOGL       WMT      AMZN
Date
2020-10-01       NaN       NaN       NaN
2020-10-02 -0.021948 -0.018196 -0.030338
2020-10-05  0.018534  0.009210  0.023466
2020-10-06 -0.021686 -0.008285 -0.031512
2020-10-07  0.005580  0.001847  0.030414
2020-10-08  0.016510  0.003331 -0.001610
2020-10-09  0.018051  0.009995  0.029675
2020-10-12  0.035216  0.010243  0.046454
2020-10-13  0.001584  0.013633  0.000203
2020-10-14 -0.002319 -0.015784 -0.023482
2020-10-15 -0.005111  0.004091 -0.007478
2020-10-16  0.007832  0.001245 -0.019948
2020-10-19 -0.024375 -0.012237 -0.020217
2020-10-20  0.013716  0.006624  0.003051
2020-10-21  0.022257  0.003469 -0.010019
2020-10-22  0.012949 -0.005904 -0.002685
2020-10-23  0.016249  0.002088  0.008776
2020-10-26 -0.030270 -0.011818  0.000824
2020-10-27  0.009167  0.004982  0.024423
2020-10-28 -0.056664 -0.020007 -0.038320
2020-10-29  0.030044 -0.000857  0.015134
2020-10-30  0.037338 -0.008397 -0.055995

In [ ]:
### 4th Question

In [16]:
df3.cov()

Symbols     GOOGL       WMT      AMZN
Symbols
GOOGL    0.000558  0.000157  0.000271
WMT      0.000157  0.000100  0.000184
AMZN     0.000271  0.000184  0.000665

In [17]:
df3.cov()*250

Symbols     GOOGL       WMT      AMZN
Symbols
GOOGL    0.139406  0.039322  0.067779
WMT      0.039322  0.024913  0.046084
AMZN     0.067779  0.046084  0.166269

In [18]:
df3.corr()

Symbols     GOOGL      WMT      AMZN
Symbols
GOOGL    1.000000  0.66723  0.445193
WMT      0.667230  1.00000  0.716030
AMZN     0.445193  0.71603  1.000000

In [ ]:
### 5th Question

In [19]:
a1 = np.array([0.4,0.3,0.3])
a1

array([0.4, 0.3, 0.3])

In [20]:
r1=df3.mean()
r1

Symbols
GOOGL    0.003936
WMT     -0.001463
AMZN    -0.002818
dtype: float64

In [21]:
np.dot(r1,a1)

0.00028994099932982487

In [22]:
np.dot(r1,a1)*250

0.07248524983245622

In [23]:
np.dot(a1.T, np.dot(df3.cov(),a1))

0.00029404311834185494

In [24]:
np.dot(a1.T, np.dot(df3.cov()*250,a1))

0.07351077958546375