In [1]:
import pandas_datareader as pdr

In [15]:
l1=['T','INTC','META','GOOGL','AAPL','ADBE','COST','WMT','TSLA']

In [16]:
df1 = pdr.get_data_yahoo(l1, start='2021-01-01',end='2021-12-31')["Adj Close"]
df1

Symbols,T,INTC,META,GOOGL,AAPL,ADBE,COST,WMT,TSLA
Date,,,,,,,,,
2021-01-04,18.810328,46.566395,268.940002,86.306503,127.874954,485.339996,374.763794,142.539398,243.256668
2021-01-05,18.695318,47.447662,270.970001,87.002502,129.455963,485.690002,370.416260,141.780640,245.036667
2021-01-06,19.059513,47.907036,263.309998,86.143997,125.098289,466.309998,364.777283,142.665878,251.993332
2021-01-07,19.110626,48.928925,268.739990,88.717003,129.367035,477.739990,362.707092,142.656128,272.013336
2021-01-08,18.978834,48.422676,267.570007,89.891502,130.483612,485.100006,364.698456,142.636673,293.339996
...,...,...,...,...,...,...,...,...,...
2021-12-27,17.418028,49.957184,346.179993,147.906494,179.289459,577.679993,559.725098,139.104019,364.646667
2021-12-28,17.446144,49.784054,346.220001,146.686996,178.255447,569.359985,560.887390,141.100250,362.823334
2021-12-29,17.319620,49.851391,342.940002,146.654999,178.344925,569.289978,563.996582,141.031082,362.063324
2021-12-30,17.418028,49.764824,344.359985,146.200500,177.171738,570.530029,560.162170,141.485657,356.779999
2021-12-31,17.291502,49.533981,336.350006,144.852005,176.545380,567.059998,563.927002,142.987778,352.260010

In [ ]:
#Price Percentage change#

In [17]:
df2=df1.pct_change()
df2

Symbols,T,INTC,META,GOOGL,AAPL,ADBE,COST,WMT,TSLA
Date,,,,,,,,,
2021-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,-0.006114,0.018925,0.007548,0.008064,0.012364,0.000721,-0.011601,-0.005323,0.007317
2021-01-06,0.019481,0.009682,-0.028269,-0.009868,-0.033661,-0.039902,-0.015223,0.006244,0.028390
2021-01-07,0.002682,0.021331,0.020622,0.029869,0.034123,0.024512,-0.005675,-0.000068,0.079447
2021-01-08,-0.006896,-0.010347,-0.004354,0.013239,0.008631,0.015406,0.005490,-0.000136,0.078403
...,...,...,...,...,...,...,...,...,...
2021-12-27,-0.003619,0.012278,0.032633,0.006738,0.022975,0.014150,0.023802,0.009105,0.025248
2021-12-28,0.001614,-0.003466,0.000116,-0.008245,-0.005767,-0.014402,0.002077,0.014351,-0.005000
2021-12-29,-0.007252,0.001353,-0.009474,-0.000218,0.000502,-0.000123,0.005543,-0.000490,-0.002095
2021-12-30,0.005682,-0.001736,0.004141,-0.003099,-0.006578,0.002178,-0.006799,0.003223,-0.014592
2021-12-31,-0.007264,-0.004639,-0.023260,-0.009224,-0.003535,-0.006082,0.006721,0.010617,-0.012669

In [18]:
df2.dropna()

Symbols,T,INTC,META,GOOGL,AAPL,ADBE,COST,WMT,TSLA
Date,,,,,,,,,
2021-01-05,-0.006114,0.018925,0.007548,0.008064,0.012364,0.000721,-0.011601,-0.005323,0.007317
2021-01-06,0.019481,0.009682,-0.028269,-0.009868,-0.033661,-0.039902,-0.015223,0.006244,0.028390
2021-01-07,0.002682,0.021331,0.020622,0.029869,0.034123,0.024512,-0.005675,-0.000068,0.079447
2021-01-08,-0.006896,-0.010347,-0.004354,0.013239,0.008631,0.015406,0.005490,-0.000136,0.078403
2021-01-11,-0.005169,-0.002130,-0.040102,-0.023106,-0.023249,-0.022387,-0.016030,0.004501,-0.078214
...,...,...,...,...,...,...,...,...,...
2021-12-27,-0.003619,0.012278,0.032633,0.006738,0.022975,0.014150,0.023802,0.009105,0.025248
2021-12-28,0.001614,-0.003466,0.000116,-0.008245,-0.005767,-0.014402,0.002077,0.014351,-0.005000
2021-12-29,-0.007252,0.001353,-0.009474,-0.000218,0.000502,-0.000123,0.005543,-0.000490,-0.002095
2021-12-30,0.005682,-0.001736,0.004141,-0.003099,-0.006578,0.002178,-0.006799,0.003223,-0.014592
2021-12-31,-0.007264,-0.004639,-0.023260,-0.009224,-0.003535,-0.006082,0.006721,0.010617,-0.012669